p, h1, h2, h3, h4, h5, h6, button, input, li, a {
  font-family: 'Lato', sans-serif; }

.home {
  width: 100vw;
  padding-left: 0px;
  padding-right: 0px; }
  .home #home-pink {
    height: 400px;
    background-color: #EC576B; }
  .home #home-blue {
    height: 400px;
    background-color: #4EC5C1; }
  .home #home-cover-div {
    border: 25px solid #E5E33B;
    height: 450px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -620px;
    background-color: white; }
    .home #home-cover-div #title-conatiner {
      display: table;
      margin: 0 auto; }
      .home #home-cover-div #title-conatiner h1 {
        text-align: center;
        font-weight: bold;
        font-size: 11em; }

.about #about-heading {
  text-align: center;
  border-bottom: 1px solid #E5E33B;
  border-width: 5px;
  width: 130px;
  display: table;
  margin: 30px auto 20px auto;
  font-size: 40px; }
.about .img-div .ang-img {
  float: right;
  height: 460px;
  width: 290px;
  margin-right: 80px;
  background: linear-gradient(rgba(229, 227, 59, 0.35), rgba(229, 227, 59, 0.35)), url(../img/Angela_2.jpeg) no-repeat;
  background-size: 100% 100%;
  border: 10px solid #E5E33B; }
.about .about-text-div p {
  font-size: 16px; }
.about .about-text-div #about-text {
  padding: 20px 20px 20px 20px; }
  .about .about-text-div #about-text:before {
    display: block;
    content: "";
    width: 70px;
    height: 65px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 6px solid #EC576B;
    border-left: 6px solid #EC576B; }
  .about .about-text-div #about-text #about-inner:after {
    display: block;
    content: "";
    width: 70px;
    height: 65px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-bottom: 6px solid #4EC5C1;
    border-right: 6px solid #4EC5C1; }

.past-work {
  background-color: #4EC5C1;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  padding-right: 0px;
  padding-left: 0px; }
  .past-work #inner-work {
    padding-left: 0px;
    padding-right: 0px; }
  .past-work h2 {
    text-align: center;
    border-bottom: 1px solid #EC576B;
    border-width: 5px;
    width: 200px;
    display: table;
    margin: 30px auto 50px auto;
    font-size: 40px; }
  .past-work #background-computer {
    padding-left: 0px;
    padding-right: 0px;
    height: 600px;
    margin-bottom: 30px;
    width: 100%;
    background: url("../img/MAC.png") no-repeat;
    background-size: contain;
    background-position: center; }
    .past-work #background-computer .web-changer {
      top: 20px;
      position: relative;
      width: 100%;
      height: 400px;
      overflow-y: scroll; }
      .past-work #background-computer .web-changer #mac-div {
        margin-bottom: 50px;
        height: 600px;
        width: 695px;
        z-index: 1000; }
        .past-work #background-computer .web-changer #mac-div img {
          width: 695px;
          height: 400px; }
  .past-work #background-tablet {
    padding-left: 0px;
    padding-right: 0px;
    height: 570px;
    margin-bottom: 30px;
    background: url(../img/ipad.png) no-repeat;
    background-size: contain;
    background-position: center; }
    .past-work #background-tablet .web-changer {
      top: 67px;
      position: relative;
      width: 100%;
      height: 452px;
      overflow-y: scroll; }
      .past-work #background-tablet .web-changer #tablet-div {
        width: 479px; }
        .past-work #background-tablet .web-changer #tablet-div img {
          width: 343px;
          height: 455px; }
  .past-work #background-phone {
    padding-left: 0px;
    padding-right: 0px;
    height: 570px;
    margin-bottom: 30px;
    background: url(../img/iphone.png) no-repeat;
    background-size: contain;
    background-position: center; }
    .past-work #background-phone .web-changer {
      top: 80px;
      position: relative;
      width: 100%;
      height: 392px;
      overflow-y: scroll; }
      .past-work #background-phone .web-changer #phone-div {
        width: 372px; }
        .past-work #background-phone .web-changer #phone-div img {
          width: 230px;
          height: 455px; }
  .past-work ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */ }
  .past-work #view-more-websites {
    border: 3px solid #E5E33B;
    color: #E5E33B;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
    background-color: #4EC5C1; }
    .past-work #view-more-websites:hover {
      background-color: #E5E33B;
      border: 3px solid #E5E33B;
      color: #4EC5C1; }

.past-projects #past-projects-header {
  margin-top: 50px; }
  .past-projects #past-projects-header h2 {
    text-align: center;
    border-bottom: 1px solid #4EC5C1;
    border-width: 5px;
    width: 250px;
    display: table;
    margin: 30px auto 50px auto;
    font-size: 40px; }
.past-projects .square-section {
  height: 300px; }
  .past-projects .square-section .title {
    font-size: 30px;
    margin-top: 20px;
    color: black;
    text-align: center; }
  .past-projects .square-section .info {
    text-align: justify; }
  .past-projects .square-section .inner-boarder {
    height: 270px;
    margin-top: 13px; }
  .past-projects .square-section .inner-boarder {
    border: 14px solid white; }
  .past-projects .square-section#grow-drum {
    background-color: #E5E33B; }
  .past-projects .square-section#small-biz-support {
    background-color: #4EC5C1; }
  .past-projects .square-section#smartify {
    background-color: #EC576B; }
  .past-projects .square-section#sixth-scent-candles {
    background-color: #4EC5C1; }
  .past-projects .square-section#color-that {
    background-color: #EC576B; }
  .past-projects .square-section#class-connect {
    background-color: #E5E33B; }

.experience {
  margin-top: 30px;
  width: 100%;
  text-align: center; }
  .experience p {
    font-size: 15px; }
  .experience .inner-experience {
    padding-bottom: 5px; }
  .experience #experience-heading {
    text-align: center;
    border-bottom: 1px solid #EC576B;
    border-width: 5px;
    width: 220px;
    display: table;
    margin: 30px auto 50px auto;
    font-size: 40px; }
  .experience #git-hub-button {
    border: 3px solid #4EC5C1;
    color: #4EC5C1;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
    background-color: white;
    float: right; }
    .experience #git-hub-button:hover {
      background-color: #EC576B;
      border: 3px solid #EC576B;
      color: white; }
  .experience #resume-button {
    border: 3px solid #E5E33B;
    color: #E5E33B;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
    background-color: white;
    float: left; }
    .experience #resume-button:hover {
      background-color: #EC576B;
      border: 3px solid #EC576B;
      color: white; }
  .experience #technical p {
    text-align: left; }
  .experience #technical #technical-heading {
    text-align: center;
    border-bottom: 1px solid #E5E33B;
    border-width: 3px;
    width: 100px;
    display: table;
    margin: 30px auto 50px auto;
    font-size: 30px; }
  .experience #technical .border {
    margin-bottom: 50px;
    width: 600px;
    border: 8px solid #E5E33B; }
  .experience #schooling p {
    text-align: left; }
  .experience #schooling #school-heading {
    text-align: center;
    border-bottom: 1px solid #4EC5C1;
    border-width: 3px;
    width: 100px;
    display: table;
    margin: 30px auto 50px auto;
    font-size: 30px; }
  .experience #schooling .border {
    margin-top: 35px;
    margin-bottom: 50px;
    width: 600px;
    border: 8px solid #4EC5C1; }
  .experience #work p {
    text-align: left; }
  .experience #work #work-heading {
    text-align: center;
    border-bottom: 1px solid #EC576B;
    border-width: 3px;
    width: 100px;
    display: table;
    margin: 30px auto 50px auto;
    font-size: 30px; }
  .experience #work .border {
    margin-bottom: 50px;
    width: 600px;
    border: 8px solid #EC576B; }

.contact {
  background-color: #4EC5C1;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  padding-right: 0px;
  padding-left: 0px; }
  .contact #contact-header h2 {
    text-align: center;
    border-bottom: 1px solid #E5E33B;
    border-width: 5px;
    width: 180px;
    display: table;
    margin: 30px auto 50px auto;
    font-size: 40px; }
  .contact #contact-form {
    font-size: 16px;
    padding: 0 50px; }
    .contact #contact-form #name {
      border: 6px solid #E5E33B;
      color: black;
      margin-bottom: 15px;
      line-height: 30px; }
      .contact #contact-form #name:focus {
        border: 6px solid #EC576B; }
    .contact #contact-form #email {
      border: 6px solid #E5E33B;
      color: black;
      margin-bottom: 15px;
      line-height: 30px; }
      .contact #contact-form #email:focus {
        border: 6px solid #EC576B; }
    .contact #contact-form #number {
      border: 6px solid #E5E33B;
      color: black;
      margin-bottom: 15px;
      line-height: 30px; }
      .contact #contact-form #number:focus {
        border: 6px solid #EC576B; }
    .contact #contact-form #message {
      border: 6px solid #E5E33B;
      color: black;
      margin-bottom: 10px;
      resize: none;
      height: 70px; }
      .contact #contact-form #message:focus {
        border: 6px solid #EC576B; }
    .contact #contact-form #submit-button {
      border: 3px solid #E5E33B;
      color: black;
      width: 300px;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 40px;
      background-color: #E5E33B; }
      .contact #contact-form #submit-button:hover {
        background-color: #EC576B;
        border: 3px solid #EC576B;
        color: black; }
  .contact input, .contact textarea {
    outline: none; }
    .contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
      color: black; }
    .contact input::-moz-placeholder, .contact textarea::-moz-placeholder {
      color: black; }
    .contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
      color: black; }
    .contact input:-moz-placeholder, .contact textarea:-moz-placeholder {
      color: black; }
  .contact .font-awesome-icon {
    margin-right: 5px;
    color: #E5E33B;
    font-size: 25px; }
    .contact .font-awesome-icon:hover {
      color: #EC576B; }
  .contact .inner-contact {
    background: white;
    border: 10px solid #E5E33B;
    padding: 10px 10px 10px 10px; }
    .contact .inner-contact .contact-info p {
      text-align: left;
      font-size: 18px; }
    .contact .inner-contact:hover {
      border: 10px solid #EC576B; }
  .contact #arrow-up {
    font-size: 80px; }
    .contact #arrow-up:hover {
      cursor: pointer; }
  .contact #success {
    display: none; }

@media (max-width: 1220px) {
  .experience #work .border, .experience #schooling .border, .experience #technical .border {
    width: 100%; }

  .past-projects .square-section {
    height: 350px; }
    .past-projects .square-section .inner-boarder {
      height: 330px; } }
@media (max-width: 992px) {
  .contact #contact-info-div {
    padding: 0 0 0 0;
    margin-bottom: 30px; }
  .contact #contact-form {
    padding: 0 0 0 0; }

  .experience #work p, .experience #schooling p, .experience #technical p {
    text-align: center; }

  .past-projects .square-section {
    height: 250px; }
    .past-projects .square-section .inner-boarder {
      height: 220px; }

  .home #home-cover-div {
    border: 25px solid #E5E33B;
    height: 400px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -620px;
    background-color: white; }
    .home #home-cover-div #title-conatiner h1 {
      text-align: center;
      font-weight: bold;
      font-size: 9em; }

  .experience #schooling .border {
    margin-top: 0px; } }
@media (max-width: 767px) {
  .past-projects .square-section {
    height: 340px; }
    .past-projects .square-section .inner-boarder {
      height: 312px; }

  .home #home-blue, .home #home-pink {
    height: 250px; }
  .home #home-cover-div {
    border: 25px solid #E5E33B;
    height: 281px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -383px;
    background-color: white; }
    .home #home-cover-div #title-conatiner h1 {
      font-size: 5em; }

  .experience #resume-button, .experience #git-hub-button {
    width: 100%;
    float: none;
    margin-bottom: 20px; }

  .past-work #view-more-websites {
    width: 300px !important; } }

/*# sourceMappingURL=style.css.map */
